language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4snapshot

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.4snapshot
  include:
    - php: 7.2
      env: XDEBUG_OFF="yes"

script:
  - if [[ $XDEBUG_OFF = yes ]]; then phpenv config-rm xdebug.ini; fi;
  - make
  - make test-all

after_success:
  - travis_retry php vendor/bin/php-coveralls -v
